{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <h4>Getting started</h4>
            <p>Contact Aaron</p>
            <p><a class="btn btn-default" href="{{ url_for('contact') }}">Contact &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h4>Check out homes!</h4>
            <p>MLS iFrame Search</p>
            <p><a class="btn btn-default" href="{{ url_for('search') }}">Search &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h4>Social</h4>
            <p>Social links testing</p>
            <p><a class="btn btn-default" href="{{ url_for('social') }}">Social &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h4>Search2</h4>
            <p>Test form</p>
            <p><a class="btn btn-default" href="{{ url_for('search2') }}">Search2 &raquo;</a></p>
        </div>
    </div>

{% endblock %}
