{% extends "layout.html" %}

{% block content %}

<div class="body-content" align="left">
    <h1>Welcome to Aaron Moore Homes</h1>
    <p class="lead">Aaron Moore is a Grade A, top notch, major league real estate agent that will work to get YOU want YOU want.
        Aaron consistently approaches deals with skill and tact while always keeping your best interest in mind.
        He will sacrifice his time and safety to drive a deal home, his ultimate goal is to win for his clients
        and his payoff knowing the he helped someone find their dream home.
    </p>
    </div>
    <p>
    <div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
        Contact Aaron
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Contact &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check out homes!</h2>
        <p>Contact Aaron</p>
        <p><a class="btn btn-default" href="https://redfin.com">Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>Sweet things people say</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Testimonials &raquo;</a></p>
    </div>

{% endblock %}
