{% extends "layout.html" %}

{% block content %}

    <ul>
        <li class="linkdin"><a href="https://www.linkedin.com/company/realtyonegroup-preview"
                               title="LinkedIn">LinkedIn</a></li>
        <li class="pinterest"><a href="https://www.pinterest.com/ROG_PNW/" title="Pinterest">Pinterest</a></li>
        <li class="instagram"><a href="https://instagram.com/pnw_realtyonegroup/" title="Instagram">Instagram</a></li>
        <li class="twitter"><a href="https://twitter.com/ROG_PNW" title="Twitter">Twitter</a></li>
        <li class="facebook"><a href="https://www.facebook.com/rognow" title="Facebook">Facebook</a></li>


        <li class="email"><a href="mailto:info@rognow.com" title="Email">Email</a></li>
        <li class="home"><a href="/" title="Home">Home</a></li>
    </ul>

{% endblock %}
